.vacation__table.vacation__table .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table {
  border: none;
}

.vacation__table .ant-table-thead {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  position: relative;
}

.vacation__table.vacation__table tr > th.ant-table-cell,
.vacation__table.vacation__table tr > td.ant-table-cell {
  padding: 0;
  text-align: center;
  font-weight: 400;
}

.light-theme .vacation__table tr > th.ant-table-cell,
.light-theme .vacation__table tr > td.ant-table-cell {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.68);
}

.dark-theme .vacation__table tr > th.ant-table-cell,
.dark-theme .vacation__table tr > td.ant-table-cell {
  background-color: #303030;
  color: #ffffffd9;
}

.vacation__table tr > td.ant-table-cell:first-child {
  padding-left: 6px;
  text-align: start;
}

.vacation__table tr > th.ant-table-cell {
  border: none !important;
}

.vacation__table tr > th.ant-table-cell::before {
  content: none !important;
}

.vacation__table .ant-table-thead tr:nth-child(2) .ant-table-cell:not(.weekend) {
  color: #18baff;
}

.vacation__table tr > th.ant-table-cell.weekend,
.vacation__table tr > td.ant-table-cell.weekend {
  background-color: #f9f0ff;
  color: #7b61ff;
}
.dark-theme .vacation__table tr > th.ant-table-cell.weekend,
.dark-theme .vacation__table tr > td.ant-table-cell.weekend {
  background-color: #1a1325;
}

.vacation__table.vacation__table .ant-table-tbody > tr.ant-table-row:hover > td,
.vacation__table.vacation__table .ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: none;
}
.vacation__table .ant-table-tbody > tr.ant-table-row:hover > td.weekend,
.vacation__table .ant-table-tbody > tr > td.ant-table-cell-row-hover.wekend {
  background-color: #f9f0ff;
}
.dark-theme .vacation__table .ant-table-tbody > tr.ant-table-row:hover > td.weekend,
.dark-theme .vacation__table .ant-table-tbody > tr > td.ant-table-cell-row-hover.wekend {
  background-color: #1a1325 !important;
}
.vacation__table .ant-table-tbody > tr.ant-table-row:hover > td:first-child,
.vacation__table .ant-table-tbody > tr > td.ant-table-cell-row-hover:first-child {
  background-color: #fff;
}
.dark-theme .vacation__table .ant-table-tbody > tr.ant-table-row:hover > td:first-child,
.dark-theme .vacation__table .ant-table-tbody > tr > td.ant-table-cell-row-hover:first-child {
  background-color: #303030;
}
